.body-content{
  font-family: "Georgia";
  background-color: #FBF9F1;
  margin-left: 80px;
  margin-right: 80px;
  line-height: 1.25;
  font-weight: 100;
  font-size: 15px;
}
.header-content{
  font-family: "Georgia";
  background-color: #FBF9F1;
  margin-left: 80px;
  margin-right: 80px;
  line-height: 1.25;
  font-weight: 100;
  font-size: 15px;
}
.header-content span{
  color: white;
  background-color: black
}
.body-content span{
  color: skyblue;
}


h1{
  font-weight: 300;
  font-size: 20px;
}
body{
  background-color: #FBF9F1;
}
